<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          {{readingTest.title}}
        </div>
        <div class="card-body">
          <ckeditor data="{{readingTest.content}}"></ckeditor>
        </div>

        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
          <button type="button"
                  (click)="backToHome()"
                  class="btn btn-block btn-primary">Back to home</button>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          {{readingTest.title}}
        </div>
        <div class="card-body">
          <ckeditor data="{{readingTest.content}}"></ckeditor>
        </div>

        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
          <button type="button"
                  (click)="backToHome()"
                  class="btn btn-block btn-primary">Back to home2</button>
        </div>
      </div>
    </div>
  </div>
</div>
